# Build artifacts
**/bin/
**/obj/
**/x64/

# Visual Studio
.vs/
*.user
*.suo
*.VC.db

# Installers & Inno Setup
WustatusBeaconSetup/artifacts/
*.log
*.iss~  # backup files created by Inno Setup

# Output executables
*.exe
*.dll
*.app
*.out

# Intermediate files
*.pdb
*.cache
*.tlog
*.idb
*.ipch
*.iobj
*.ipdb

# Precompiled headers
*.gch
*.pch

# System junk
.DS_Store
Thumbs.db
desktop.ini
