# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/WustatusBeaconInstaller/bin
/WustatusBeaconInstaller/x64
/ZentrixLabs.WustatusBeacon/.vs
/ZentrixLabs.WustatusBeacon/obj
/ZentrixLabs.WustatusBeacon/bin
